/.*
!.gitignore
!.gitattributes


/TurboPi/
/create_ap/
/Desktop/
/Documents/
/Downloads/
/hiwonder-toolbox/
/LAB_Tool/
/Music/
/Pictures/
/Public/
/Templates/
/Videos/

# python stuff
__pycache__/
*.egg-info**
